[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".zsh/zplug"]
	path = .zsh/zplug
	url = https://github.com/zplug/zplug.git
    ignore = dirty
[submodule ".zsh/zshtools"]
	path = .zsh/zshtools
	url = https://matsub@bitbucket.org/matsub/zshtools.git
